project:
  type: website
  render: 
    - "*.qmd"
    - "!discussions/"

website:
  title: "BIOL 7117: Speciation"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - class-notes.qmd
      - readings.qmd

number-sections: true
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: source

